<div class="row-logo">
  <div class="main-width set-position"><img data-bind="attr:{src:logourl}" alt="">
    <div style="font-size:16px;display: inline-block; position: relative; top: 20px; left: 10px;" data-bind="text:slogan">

    </div>
    <div class="apps"><img data-bind="attr:{src:wechaturl}" alt="" width="70px">
      <p>扫一扫随时采</p> <img data-bind="attr:{src:supplierurl}" alt="" width="70px" class="hideimg">
      <p class="hideimg">供应商App</p> <img data-bind="attr:{src:purchaserurl}" alt="" width="70px" class="hideimg">
      <p class="hideimg">采购商App</p></div>
  </div>
</div>
