<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="友云采是帮助企业做最佳采购决策和高效协同的企业采购互联网服务云平台。它连接了采购商和供应商，无缝对接企业ERP与电商平台，完整地贯通了计划、采购、到货、入库、付款等环节。支持门户、微信、移动App等多种接入形式，实现随时随地的即时沟通与业务协作。">
    <title>友云采——让采购交易更简单</title>
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.6.2/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//yc.yonyou.com/cpu-cdn/js/ycloud/1.5.x/ycloud.min.css">
  <style>
    body{
      background-color: #efeff1;
    }
  </style>
</head>
<body>
<div id="bodycontent">
  <div id="app">
  </div>
</div>
<script src="https://cdn.bootcss.com/knockout/3.4.2/knockout-min.js"></script>
<script src="https://cdn.bootcss.com/jquery/2.2.2/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/Director/1.2.8/director.min.js"></script>
<script src="https://yc.yonyoucloud.com/cpu-cdn/js/uui/iuap-design-3.1.23/js/u.js"></script>
</body>
</html>
