<div class="row-nav">
  <div class="main-width">
    <div id="row-nav-navbar">
      <ul class="list-basic-settings pull-right">
        <li class="pull-left"><a href="#index/index" class="row-nav-a">首页</a> &nbsp;&nbsp;|&nbsp;&nbsp;</li>
        <li class="pull-left"><a data-bind="attr:{href:workbenchurl}" class="row-nav-a">工作台</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        </li>
        <li class="pull-left"><a data-bind="attr:{href:homepage}" target="_blank" class="row-nav-a">返回官网</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        </li>
        <li class="pull-left"><a data-bind="attr:{href:logouturl}" class="row-nav-a">退出</a></li>
      </ul>
    </div>
  </div>
</div>
